@font-face {
    font-family: "manrope";
    src: url(../../public/fonts/Manrope-Medium.ttf);
}

@font-face {
    font-family: "shippori";
    src: url(../../public/fonts/ShipporiAntique-Regular.ttf);
}

@font-face {
    font-family: "poppins-r";
    src: url(../../public/fonts/Poppins-Regular.ttf);
}

@font-face {
    font-family: "poppins-sb";
    src: url(../../public/fonts/Poppins-SemiBold.ttf);
}

@font-face {
    font-family: "poppins-b";
    src: url(../../public/fonts/Poppins-Bold.ttf);
}

@font-face {
    font-family: "dms-r";
    src: url(../../public/fonts/DMSans-MediumItalic.ttf);
}

@font-face {
    font-family: "poppins-bl";
    src: url(../../public/fonts/Poppins-Black.ttf);
}

@font-face {
    font-family: "poppins-l";
    src: url(../../public/fonts/Poppins-ExtraLight.ttf);
}